{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Sent{% endblock %}

{% block content %}
<br>
<h3 style="text-align: center;">Password Reset Sent</h3>
<hr>
<div class="container" style="display: flex; align-items: center; justify-content:center;">
  <div class="row mt-4">
      <div class="col-md-12 offset-md-0">
          <div class="card shadow">
              <div class="card-body">
                <p style="text-align: center;">We’ve emailed you instructions for setting your password, <br>
                    if an account exists with the email you entered. You should <br>
                    receive them shortly.</p>

                    <p style="text-align: center;">If you don’t receive an email, please make sure you’ve entered  <br>
                        the address you registered with, and check your spam folder.</p>
                <hr>
                <button style="font-size: 15px; padding-left: 20px; padding-right: 20px; float: right;" type="button" class="btn btn-primary"><a href="{% url 'login' %}" style="text-decoration: none;">OK</a></button>
                </form>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}