{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}
<br>
<h3 style="text-align: center;">Enter New Password</h3>
<hr>
<div class="container" style="display: flex; align-items: center; justify-content:center;">
  <div class="row mt-4">
      <div class="col-md-12 offset-md-0">
          <div class="card shadow">
              <div class="card-body">
                <p style="text-align: center;">
                Please enter your new password twice so <br>
                we can verify you typed it in correctly.</p>

                <form method="POST">
                    {% csrf_token %}
                    {{form|crispy}}

                    <hr>
                    <input style="font-size: 15px; padding-left: 20px; padding-right: 20px; float: right;" class="btn btn-primary" type="submit" name="Update Password">
                </form>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}