{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}
<br>
<h3 style="text-align: center;">Password Reset Complete</h3>
<hr>
<div class="container" style="display: flex; align-items: center; justify-content:center;">
  <div class="row mt-4">
      <div class="col-md-12 offset-md-0">
          <div class="card shadow">
              <div class="card-body">
                <p style="text-align: center;">Your password has been set. You may go ahead and log in now.</p>
                <hr>
                <button style="font-size: 15px; padding-left: 20px; padding-right: 20px; float: right;" 
                type="button" class="btn btn-primary"><a href="/" 
                style="text-decoration: none;">Log-in</a></button>
                </form>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}