{% extends 'base.html' %}
{% load static %}

{% block title %}Personality{% endblock %}

{% block content %}
<div class="info-img">
    <br>
    <img class="img-pt-logo" src="{% static 'img/personality-enfj.png' %}" alt="">
    <h5 class="pt-h5" >Extraverted iNtuitive Feeling Judging</h5>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 offset-md-0">
            <div class="card shadow">
                <div class="card-body">
                    <div class="about-us">
                        <div class="info-img">
                            <img class="img-enfj" src="{% static 'img/ENFJ.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h3 style="text-align: center;">THE PROTAGONIST</h3>
                            <p style="text-align: center;">
                                ENFJs are eternal people-pleasers. They are extroverted, idealistic, charismatic, outspoken, highly principled and ethical. This set of traits ensures that an ENFJ can usually connect with others of varying backgrounds and personalities. ENFJs rely more on intuition and feelings, living more in their imagination than the real world. This can be troublesome, for the individual themselves and those around them. Rather than living in the, “now” and what is currently happening, ENFJs tend to concentrate on the abstract and what could possibly unfold in the future. ENFJs are the benevolent 'pedagogues' of humanity. They have tremendous charisma by which many are drawn into their nurturant tutelage and/or grand schemes. They are global learners. 
                            </p>
                       </div>
              
                       <div class="info">
                           <h4 style="text-align: center;">ENFJ Career</h4>
                           <p style="text-align: center;">
                            ENFJs often find themselves in occupations that require good interpersonal skills to establish productive collaboration as well as to establish or maintain effective work processes. ENFJs are one of the most “universal” personality types and they build successful careers in a broad range of organizations and occupations.
                           </p>
                       </div>
           
                       <div class="info">
                            <h4 style="text-align: center;">ENFJ Learning Style</h4>
                           <p style="text-align: center;">
                            An ENFJ’s interest in a subject is driven by the answer to the question, “Is this helpful to people?” The more they see a topic to be beneficial to others, the greater their interest in the topic and the greater their desire to actively engage in it and apply what they learn. Their interest in studying the material is motivated by their desire to find solutions to people-related issues.
                           </p>
                           <p style="text-align: center;">
                            ENFJs easily and quickly pick up new material, especially when it is delivered on a conceptual basis. Concrete information is also well received by individuals of this type. ENFJs are capable of grasping material lacking strong logical connection.
                           </p>
                           <p style="text-align: center;">
                            ENFJs are capable of independently learning expansive and complex material. They are good at both retention of information on a logical basis and mechanical memorization, although the latter is less effective. ENFJs are able to precisely recall learned information, whether or not it is all conceptually related.
                            </p>
                            <p style="text-align: center;">
                            ENFJs are able to actively apply acquired knowledge and skills to their work. They can apply it to concrete tasks or creatively develop it in a given direction.
                            </p>
                            <p style="text-align: center;">
                                ENFJs are able to remain very stable when experiencing a high level of learning related stress. They prefer to evenly distribute their efforts in learning new material, although they are capable of learning through short periods of overexertion.
                            </p>
                       </div>

                       <div class="info">
                        <h4 style="text-align: center;">ENFJ Communication Skills</h4>
                        <p style="text-align: center;">
                            ENFJs are gifted with prominent communicative abilities and capable of persuading others to accept their way of thinking or their endeavor, and earning other people's trust. ENFJs gladly help others, but may become quite unhappy with those who refuse to accept the kind of help that seems the most appropriate to the ENFJ in question. They feel at ease while communicating with many people at once. Many ENFJs are very energetic and always ready to join a conversation. 
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}