{% extends 'base.html' %}
{% load static %}

{% block title %}Personality{% endblock %}

{% block content %}
<div class="info-img">
    <br>
    <img class="img-pt-logo" src="{% static 'img/personality-enfp.png' %}" alt="">
    <h5 class="pt-h5" >Extraverted iNtuitive Feeling Perceiving</h5>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 offset-md-0">
            <div class="card shadow">
                <div class="card-body">
                    <div class="about-us">
                        <div class="info-img">
                            <img class="img-enfp" src="{% static 'img/ENFP.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h3 style="text-align: center;">THE CAMPAIGNER</h3>
                            <p style="text-align: center;">
                                ENFPs have an Extroverted, Intuitive, Feeling and Perceiving personality. This personality type is highly individualistic. Champions are not followers, and care little for the status quo. Instead, they strive toward creating their own methods, looks, actions, habits, and ideas. ENFPs do not welcome cookie cutter people into their circle and loathe being forced to live inside a box. They do enjoy company though – assuming it is the “right” company – enjoying strong intuition when it comes to themselves and others. ENFPs operate from their feelings most of the time. This is no bad thing, as they are highly perceptive and thoughtful. 
                            </p>
                       </div>
              
                       <div class="info">
                           <h4 style="text-align: center;">ENFP Career</h4>
                           <p style="text-align: center;">
                            ENFPs are well-suited to occupations involving a lot of intellectual work focused on the humanities and social sciences, which also requires creativity. For example, they make good life coaches, social workers, psychologists, addiction rehab counsellors, and other mental and community care staff. They are also successful in teaching subjects related to the humanities and social sciences. Additionally, they succeed as journalists and in various occupations requiring good communication skills.
                           </p>
                       </div>
           
                       <div class="info">
                            <h4 style="text-align: center;">ENFP Learning Style</h4>
                           <p style="text-align: center;">
                            ENFPs easily grasp material, especially if a large portion of it is devoted to the topic’s relevance or connection to the behavior or actions of people. They are good at remembering theoretical material, especially when it actively engages their feelings. ENFPs can also easily grasp a significant amount of information lacking strong conceptual connections. 
                        </p>
                        <p style="text-align: center;">
                            ENFPs are able to learn independently. Even so, they are generally active communicators in the learning process, and group work is favorable. They like to discuss the topic of study and seek feedback on their work. 
                        </p>

                       </div>

                       <div class="info">
                        <h4 style="text-align: center;">ENFP Communication Skills</h4>
                        <P style="text-align: center;">
                            Communication with an ENFP is pleasant and easy. They often improvise in their discussion of various topics, although they can prepare a conversation agenda in advance. Many ENFPs are very energetic and always ready to join a discussion of any sort. They often initiate riveting discussions.
                        </p>
                            
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}