{% extends 'base.html' %}
{% load static %}

{% block title %}Personality{% endblock %}

{% block content %}
<div class="info-img">
    <br>
    <img class="img-pt-logo" src="{% static 'img/personality-entj.png' %}" alt="">
    <h5 class="pt-h5" >Extraverted iNtuitive Thinking Judging</h5>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 offset-md-0">
            <div class="card shadow">
                <div class="card-body">
                    <div class="about-us">
                        <div class="info-img">
                            <img class="img-entj" src="{% static 'img/ENTJ.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h3 style="text-align: center;">THE COMMANDER</h3>
                            <p style="text-align: center;">
                                An ENTJ’s primary concern is focus is managing external circumstances with logic and discipline. Once this has been achieved, intuition and reasoning take effect. ENTJs are the most natural leaders among the 16 personality types. This personality type will always relish the opportunity to take charge. ENTJs live in a world of possibilities, often viewing challenges and obstacles great opportunities to push themselves. They have a natural gift for leadership and never shirk from making decisions. Options and ideas will be quickly yet carefully reviewed. ENTJs are “take charge” people who do not like to sit still and allow life to happen around them. 
                                ENTJs have a natural tendency to marshall and direct. This may be expressed with the charm and finesse of a world leader or with the insensitivity of a cult leader. The ENTJ requires little encouragement to make a plan.
                            </p>
                       </div>
              
                       <div class="info">
                           <h4 style="text-align: center;">ENTJ Career</h4>
                           <p style="text-align: center;">
                            ENTJs often find themselves in occupations that require good analytical and planning skills. ENTJs build successful careers in those areas that require considerable organizational skills and intellectual effort, in occupations that present a challenge and call for creativity. They are greatly represented in technological and management consulting companies among engineers and developers, and among high- and mid-rank managers.
                           </p>
                       </div>
           
                       <div class="info">
                            <h4 style="text-align: center;">ENTJ Learning Style</h4>
                           <p style="text-align: center;">
                            ENTJs are easily receptive to learning material when it is presented in a theoretical form, and new information flows logically from information given earlier. This type has a comprehensive understanding of new material and immediately grasps how it can be applied in various ways.
                           </p>
                           <p style="text-align: center;">
                            They are capable of mechanical memorization, although the amount retained this way is less than when memorization is based on a generalized understanding of the material. ENTJs retain information best when it is presented from various perspectives and using various examples. 
                           </p>
                           <p style="text-align: center;">
                            ENTJs are capable of actively applying material they have learned well to their work. They are able to use it in clearly defined applications as well as by drawing creative conclusions on how it can be used for other purposes.
                            </p>
                       </div>

                       <div class="info">
                        <h4 style="text-align: center;">ENTJ Communication Skills</h4>
                        <p style="text-align: center;">
                            ENTJs respect and maintain the manners and order accepted in their circle. They may often come across as demanding, but as a rule, not when it comes to minor issues. ENTJs are ready to share their opinion with those around them and to find out theirs. 
                        </p>
                        <P style="text-align: center;">
                            ENTJs can encounter difficulties when communication requires finer soft skills, such as being very tactful or particularly patient, or involves the finer feelings of the soul. The topics of love or lyric poetry can fail to elicit a strong emotional response in them. 
                        </P>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}