{% extends 'base.html' %}
{% load static %}

{% block title %}Personality{% endblock %}

{% block content %}
<div class="info-img">
    <br>
    <img class="img-pt-logo" src="{% static 'img/personality-entp.png' %}" alt="">
    <h5 class="pt-h5" >Extraverted iNtuitive Thinking Perceiving</h5>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 offset-md-0">
            <div class="card shadow">
                <div class="card-body">
                    <div class="about-us">
                        <div class="info-img">
                            <img class="img-entp" src="{% static 'img/ENTP.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h3 style="text-align: center;">THE VISIONARY</h3>
                            <p style="text-align: center;">
                                The ENTP personality is among the rarest in the world, which is understandable. Although they are extroverts, ENTPs reject small talk and may not thrive in social situations. This is especially true is the ENTP is surrounded by vastly different personality types. ENTPs are intelligent and knowledgeable, and as a result they need to be constantly mentally stimulated. This personality types relishes the opportunity to discuss theories and facts in extensive detail, needing little encouragement to set the world to rights. ENTPs are logical, rational and objective in their approach to information and arguments. They expect the same from a debating partner.
                                ENTPs are usually verbally as well as cerebrally quick, and generally love to argue--both for its own sake, and to show off their debating skills. ENTPs tend to have a perverse sense of humor as well, and enjoy playing devil's advocate. 
                            </p>
                       </div>
              
                       <div class="info">
                           <h4 style="text-align: center;">ENTP Career</h4>
                           <p style="text-align: center;">
                            Generally, ENTPs build successful careers in areas requiring intense intellectual effort, a creative approach, and those that present an intellectual challenge. Because of the characteristics mentioned above, ENTPs are often found in research, development, and analytical departments. 
                           </p>
                       </div>
           
                       <div class="info">
                            <h4 style="text-align: center;">ENTP Learning Style</h4>
                           <p style="text-align: center;">
                            ENTPs easily take in material when it is presented in a conceptual form and new information logically flows from that previously given. People of this type understand new material from multiple angles - beyond what they are explicitly taught - and immediately pick up on how it can be applied. They are capable of independently learning expansive and complex material; the complexity of the material only intensifies their drive to master it. 
                           <p style="text-align: center;">
                            ENTPs are able to accurately reproduce theoretical information and information that lacks logical flow. They are capable of actively applying material they have learned well and internalized.
                       </div>

                       <div class="info">
                        <h4 style="text-align: center;">ENTP Communication Skills</h4>
                        <P style="text-align: center;">
                            In communication, ENTPs usually come across as confident, precise and objective. They strive to maintain their characteristic objective and methodical evaluation, even when discussing topics relating to the finer feelings of the soul. Thus, for example, topics of love and lyric poetry also make them want to find ways to analyze the subject of the emotions.
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}