{% extends 'base.html' %}
{% load static %}

{% block title %}Personality{% endblock %}

{% block content %}
<div class="info-img">
    <br>
    <img class="img-pt-logo" src="{% static 'img/personality-esfj.png' %}" alt="">
    <h5 class="pt-h5" >Extraverted Sensing Feeling Judging</h5>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 offset-md-0">
            <div class="card shadow">
                <div class="card-body">
                    <div class="about-us">
                        <div class="info-img">
                            <img class="img-esfj" src="{% static 'img/ESFJ.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h3 style="text-align: center;">THE PROVIDER</h3>
                            <p style="text-align: center;">
                                ESFJs are the stereotypical extroverts. This personality type is effortlessly social, born of a need to interact with others. This desire to make others happy usually results in popularity for the ESFJ. The ESFJ often tends to be the cheerleader or sports hero in high school and college. Later in life, they continue to revel in the spotlight. ESFJs are primarily focused on organizing social events for their families, friends and communities. ESFJ is a common personality type and one that is liked by many people. 
                                All else being equal, ESFJs enjoy being in charge. They see problems clearly and delegate easily, work hard and play with zest. 
                            </p>
                       </div>
              
                       <div class="info">
                           <h4 style="text-align: center;">ESFJ Career</h4>
                           <p style="text-align: center;">
                            ESFJs often find themselves in occupations that involve either a lot of direct interaction with other people (e.g. clients, other staff members) or involve responsibility for critical tasks (e.g. those that require complete attention or that may have serious consequences), or both. Very often ESFJs realize their potential in health care and various community care organizations. Other favored areas of occupation include social work, service-oriented professions as well as teaching.
                           </p>
                       </div>
           
                       <div class="info">
                            <h4 style="text-align: center;">ESFJ Learning Style</h4>
                           <p style="text-align: center;">
                            ESFJs find it easy to take in material when a significant part of it is devoted to the topic’s connection and relevance to people, and when it can be demonstrated with straightforward, real-life examples, as opposed to theoretical ones. They are capable of independently grasping material - mostly that of practical nature. ESFJs are also able to take in a substantial amount of information lacking significant logical flow. Whether or not the material is presented in a systematic and logical way has little impact on their learning.
                        </p>
                            <p style="text-align: center;">
                                ESFJs are good at remembering new material when their feelings and emotions are engaged, and when they communicate actively during the learning process. ESFJs are able to precisely reproduce learned information, especially if they associate it with any feelings
                        </p>
                       </div>

                       <div class="info">
                        <h4 style="text-align: center;">ESFJ Communication Skills</h4>
                        <P style="text-align: center;">
                            In communication, ESFJs are practical, concrete, and at the same time supportive and responsive toward the needs of the other party. They are certain of their reasoning and they want others to share it. ESFJs keep to a soft, but assertive communication style. 
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}