{% extends 'base.html' %}
{% load static %}

{% block title %}Personality{% endblock %}

{% block content %}
<div class="info-img">
    <br>
    <img class="img-pt-logo" src="{% static 'img/personality-esfp.png' %}" alt="">
    <h5 class="pt-h5" >Extraverted Sensing Feeling Perceiving</h5>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 offset-md-0">
            <div class="card shadow">
                <div class="card-body">
                    <div class="about-us">
                        <div class="info-img">
                            <img class="img-esfp" src="{% static 'img/ESFP.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h3 style="text-align: center;">THE PERFOMER</h3>
                            <p style="text-align: center;">
                                ESFPs have an Extroverted, Observant, Feeling and Perceiving personality, and are commonly seen as Entertainers. Born to provide amusement and distraction to others and to hog the limelight, ESFPs love to hold court in a group. ESFPs are thoughtful explorers who enjoy learning and sharing what they learn with others. ESFPs live for company, and typically have strong interpersonal skills. They are lively and fun, and will never decline the opportunity to be the center of attention. Despite this court jester-like demeanor however, ESFPs are warm, generous, and friendly. They are also typically sympathetic and concerned for the well-being of others.
                            </p>
                       </div>
              
                       <div class="info">
                           <h4 style="text-align: center;">ESFP Career</h4>
                           <p style="text-align: center;">
                            Any activities requiring good performing or entertaining skills are very suitable for ESFPs. Certain marketing roles that benefit from such skills can be a good fit. ESFPs also often find themselves in occupations that involve direct communication with customers and audiences where similar skills are useful. They may work in organizations of various sizes and industries. Social work or social counselling is also an area favorable to ESFPs.
                           </p>
                       </div>
           
                       <div class="info">
                            <h4 style="text-align: center;">ESFP Learning Style</h4>
                           <p style="text-align: center;">
                            ESFPs learn easily and quickly when the new material is delivered in a concrete, visual way. They quickly grasp its various practical applications. They try to define their feelings towards to the topic and communicate actively during the learning process, seeking feedback from their peers on their work. They find it easy to learn through active methods such as debates, contests and educational games, and group work with the material is preferable. 
                        </p>

                       </div>

                       <div class="info">
                        <h4 style="text-align: center;">ESFP Communication Skills</h4>
                        <P style="text-align: center;">
                            Feelings and more feelings fill the life of ESFPs and give it meaning. They are easy to communicate with, and a lot can be discussed and laughed about with ESFPs. They exhibit great warmth when talking about others, even if they sometimes tease them. When it comes to gatherings of friends and acquaintances, ESFPs are always the life of the party. That is how trusting and warm relationships start, which are especially strengthened by their sincere attentiveness to the pressing problems of their conversation parties. ESFPs’ energy and capacity for empathy inevitably engage others in the lively atmosphere they create around themselves.
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}