{% extends 'base.html' %}
{% load static %}

{% block title %}Personality{% endblock %}

{% block content %}
<div class="info-img">
    <br>
    <img class="img-pt-logo" src="{% static 'img/personality-estj.png' %}" alt="">
    <h5 class="pt-h5" >Extraverted Sensing Thinking Judging</h5>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 offset-md-0">
            <div class="card shadow">
                <div class="card-body">
                    <div class="about-us">
                        <div class="info-img">
                            <img class="img-estj" src="{% static 'img/ESTJ.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h3 style="text-align: center;">THE SUPERVISOR</h3>
                            <p style="text-align: center;">
                                ESTJs place a great deal of emphasis on traditional values. These include organization, honesty, dedication and dignity. This personality type believe firmly in doing what they believe is right and socially acceptable. Though the paths towards “good” and “right” are difficult to define, an ESTJ will act as the leader of the pack and extol personal views. They are the epitome of good citizenry. People often look to ESTJs for guidance and counsel, and this personality type will always be happy to provide such assistance.
                            </p>
                       </div>
              
                       <div class="info">
                           <h4 style="text-align: center;">ESTJ Career</h4>
                           <p style="text-align: center;">
                            ESTJs often find themselves in occupations that require thorough analysis, practical planning and organizational skills, process control and responsibility. ESTJs make good mid- and high-rank managers and executives. They succeed as military and police workers, politicians, engineers and entrepreneurs. They are found in technology companies among those who deal with practical aspects of technology.
                           </p>
                       </div>
           
                       <div class="info">
                            <h4 style="text-align: center;">ESTJ Learning Style</h4>
                           <p style="text-align: center;">
                            ESTJs are capable of processing material built on a logical framework, as well as large amounts of information lacking logical cohesion. They easily comprehend new material when it is demonstrated using straightforward, real-life examples. ESTJs understand the material in a concrete, factual way, and they immediately grasp how it can be used. Visual aids and active learning methods substantially improve their learning. 
                           <p style="text-align: center;">
                            ESTJs are able to actively, accurately, and proficiently apply material they have learned well and understood in straightforward tasks.
                       </div>

                       <div class="info">
                        <h4 style="text-align: center;">ESTJ Communication Skills</h4>
                        <p style="text-align: center;">
                            ESTJs are usually not comfortable with situations requiring especially good people skills, e.g. being particularly delicate or patient. Their open and direct proclamation of their principles and intentions may sometimes hurt the feelings of the more feeling types (F) or provoke strong resistance on part of other leadership-oriented people who may have a different opinion.
                        </p>
                        <P style="text-align: center;">
                            ESTJs often find it hard to express themselves when they have to talk about finer feelings: such topics as love or lyric poetry may not produce a strong emotional response in them. 
                        </P>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}