{% extends 'base.html' %}
{% load static %}

{% block title %}Personality{% endblock %}

{% block content %}
<div class="info-img">
    <br>
    <img class="img-pt-logo" src="{% static 'img/personality-estp.png' %}" alt="">
    <h5 class="pt-h5" >Extraverted iNtuitive Thinking Perceiving</h5>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 offset-md-0">
            <div class="card shadow">
                <div class="card-body">
                    <div class="about-us">
                        <div class="info-img">
                            <img class="img-estp" src="{% static 'img/ESTP.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h3 style="text-align: center;">THE VISIONARY</h3>
                            <p style="text-align: center;">
                                ESTPs have an Extroverted, Sensing, Thinking, and Perceptive personality. ESTPs live for social interaction, drawing power from feelings and emotions. This does not mean that ESTPs are flippant. They enjoy logical processes and reasoning, provided this does not stand in the way of freedom in thought and deed. Theory and abstracts will not retain the attention or interest of an ESTP for long. This personality type prefers to leap before they look, fixing mistakes as they go. This is preferable to sitting idle or preparing contingency plans.
                            </p>
                       </div>
              
                       <div class="info">
                           <h4 style="text-align: center;">ESTP Career</h4>
                           <p style="text-align: center;">
                            ESTPs often find themselves in occupations that require prompt and active responses. ESTPs succeed as salespeople, crime and fraud investigators, sailors, racecar drivers, athletes, actors, entrepreneurs, rescue operation staff, and occasionally politicians and special combat forces.
                           </p>
                       </div>
           
                       <div class="info">
                            <h4 style="text-align: center;">ESTP Learning Style</h4>
                           <p style="text-align: center;">
                            ESTPs understand learned information in a concrete, factual way and immediately grasp how it can be applied. They can learn well in both an organized educational system (e.g., an organized degree or certification program), as well as from sources not unified by a single formal learning process (e.g., individual courses or readings).
                           <p style="text-align: center;">
                            They easily and quickly retain new material if it is presented as a practical guide for action. ESTPs are capable of remembering material built on a logical framework, as well as substantial amounts of information lacking logical cohesion. 
                       </div>

                       <div class="info">
                        <h4 style="text-align: center;">ENTP Communication Skills</h4>
                        <P style="text-align: center;">
                            ESTPs are active communicators who know how to persuade and engage others with their speech. However, some people may be offended by their straightforwardness. The more variety ESTPs have in their communication, the more energetic they are and the greater their sense of fulfillment in life. 
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}