{% extends 'base.html' %}
{% load static %}

{% block title %}Personality{% endblock %}

{% block content %}
<div class="info-img">
    <br>
    <img class="img-pt-logo" src="{% static 'img/personality-infj.png' %}" alt="">
    <h5 class="pt-h5" >Introverted iNtuitive Feeling Judging</h5>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 offset-md-0">
            <div class="card shadow">
                <div class="card-body">
                    <div class="about-us">
                        <div class="info-img">
                            <img class="img-infj" src="{% static 'img/INFJ.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h3 style="text-align: center;">THE ADVOCATE</h3>
                            <p style="text-align: center;">
                                INFJs are visionaries and idealists. This personality type oozes creative imagination and brilliant ideas from every pore. They have a different, frequently profound, way of looking at the world that is not always understood. INFJs favor substance and depth in the way they think. This personality type will never accept anything at surface level or refuse to countenance a better way to approach problems. Others may perceive the INFJ as odd or amusing due to this variable outlook on life.
                                INFJs are deeply concerned about their relations with individuals as well as the state of humanity at large. They are, in fact, sometimes mistaken for extroverts because they appear so outgoing and are so genuinely interested in people -- a product of the Feeling function they most readily show to the world.
                            </p>
                       </div>
              
                       <div class="info">
                           <h4 style="text-align: center;">INFJ Career</h4>
                           <p style="text-align: center;">
                            INFJs are effective in occupations involving substantial intellectual work, caring for other people, and those that require creativity. INFJs build successful careers in a broad range of organizations. Social and community care services, counseling, teachers of the humanities and social sciences, healthcare workers (both in administration and in medical services), various service-oriented professions along with work in religious services and social movements are just some of the examples of occupations favorable to INFJs.
                           </p>
                       </div>
           
                       <div class="info">
                            <h4 style="text-align: center;">INFJ Learning Style</h4>
                           <p style="text-align: center;">
                            INFJs easily take in information when a significant part of it is devoted to the topic’s relevance and connection to people. They also learn easily if the knowledge they receive significantly expands the boundaries of their understanding and opportunities for application in the given area, and appeals to their feelings or moral values. They are able to quite easily comprehend material even when it consists of information that lacks significant logical flow. 
                        </p>
                        <p style="text-align: center;">
                            INFJs are capable of mechanical memorization, but the amount retained this way is less than from memory based on understanding. INFJs are capable of accurately reproducing received information, especially if they associate it with any feelings.
                        </p>
                       </div>

                       <div class="info">
                        <h4 style="text-align: center;">INFJ Communication Skills</h4>
                        <P style="text-align: center;">
                            In communication INFJs come across as thoughtful, supportive, and caring. Communication with an INFJ is pleasant and easy, since they are inherently well-disposed towards the other party. They are attentive and empathetic to other people's feelings.
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}