{% extends 'base.html' %}
{% load static %}

{% block title %}Personality{% endblock %}

{% block content %}
<div class="info-img">
    <br>
    <img class="img-pt-logo" src="{% static 'img/personality-infp.png' %}" alt="">
    <h5 class="pt-h5" >Introverted iNtuitive Feeling Perceiving</h5>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 offset-md-0">
            <div class="card shadow">
                <div class="card-body">
                    <div class="about-us">
                        <div class="info-img">
                            <img class="img-infp" src="{% static 'img/INFP.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h3 style="text-align: center;">THE IDEALIST</h3>
                            <p style="text-align: center;">
                            INFPs, like most introverts, are quiet and reserved. This personality type prefers not to talk about themselves, especially upon first meeting a new person. They prefer spending time alone in quiet places. This provides the opportunity for the INFP to make sense of the world around them. INFPs love analyzing signs and symbols, often considering them to be metaphors that have deeper meanings related to life. This personality type can become lost in their imagination and daydreams. This occasionally leads to the INFP drowning in the depth of their thoughts, fantasies, and ideas. 
                            </p>
                       </div>
              
                       <div class="info">
                           <h4 style="text-align: center;">INFP Career</h4>
                           <p style="text-align: center;">
                            Overall, INFPs are effective in occupations involving a lot of intellectual work that is focused on the humanities and social sciences, the spirit and soul, inspirational activities, and those that require creativity. Social workers, psychologists, life coaches, addiction rehab counselors, mental and community care staff, elementary education, teaching, and creative script writing are just some of the examples of suitable occupations for INFPs.
                           </p>
                       </div>
           
                       <div class="info">
                            <h4 style="text-align: center;">INFP Learning Style</h4>
                           <p style="text-align: center;">
                            INFPs easily grasp material, especially if a large part of it is devoted to how the topic relates to human behavior or activity. They are good at retaining theoretical material, especially when it actively engages their feelings. Needing to understand material that is purely logical or not related to the humanities or social sciences is boring to an INFP. 
                        <p style="text-align: center;">
                            INFPs understand new material with great depth and breadth. They are able to deeply grasp material independently. INFPs are capable of mechanical memorization, but the amount retained this way is less than in memory based on understanding. 
                        </p>

                       </div>

                       <div class="info">
                        <h4 style="text-align: center;">INFP Communication Skills</h4>
                        <P style="text-align: center;">
                            An INFP's perception of the world is defined by such notions as just/unjust and right/wrong. They feel best when they do what they believe to be right and just. INFPs can be emotional in their communication with other people, although they always treat everyone with respect.
                            INFPs are able to speak with people of various personality types in their “language”, and on a variety of topics. However, at times INFPs can come across as distant and reserved. 
                        </p>
                            
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}