{% extends 'base.html' %}
{% load static %}

{% block title %}Personality{% endblock %}

{% block content %}
<div class="info-img">
    <br>
    <img class="img-pt-logo" src="{% static 'img/personality-intj.png' %}" alt="">
    <h5 class="pt-h5" >Introverted iNtuitive Thinking Judging</h5>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 offset-md-0">
            <div class="card shadow">
                <div class="card-body">
                    <div class="about-us">
                        <div class="info-img">
                            <img class="img-intj" src="{% static 'img/INTJ.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h3 style="text-align: center;">THE MASTERMIND</h3>
                            <p style="text-align: center;">
                                INTJs are true introverts. This personality type tends to be quiet, reserved and comfortable in their own company. INTJs are usually self-sufficient and prefer to work alone than in a group. Socializing significantly drains the energy of this personality type, causing them to need to recharge. Do not weight down an INTJ with small talk! They are more interested in big ideas and theories. When observing the world, INTJs regularly question why things happen the way they do. Uncertainty is the enemy of the INTJ. They excel at developing plans and strategies for every eventuality.
                                To outsiders, INTJs may appear to project an aura of "definiteness", of self-confidence. This self-confidence, sometimes mistaken for simple arrogance by the less decisive, is actually of a very specific rather than a general nature; its source lies in the specialized knowledge systems that most people of this type start building at an early age.
                                People of this type are perfectionists, with a seemingly endless capacity for improving upon anything that takes their interest.
                                INTJs are known as the "Systems Builders" of the types, perhaps in part because they possess the unusual trait combination of imagination and reliability. 
                            </p>
                       </div>
              
                       <div class="info">
                           <h4 style="text-align: center;">INTJ Career</h4>
                           <p style="text-align: center;">
                            INTJs have successful careers in areas requiring intense intellectual effort, those that present intellectual challenges, and require a creative approach. Due to the characteristics mentioned above, successful INTJs are found in technological companies, particularly in research and development, and among corporate lawyers, high- and mid-rank managers in technology companies and financial institutions.
                           </p>
                       </div>
           
                       <div class="info">
                            <h4 style="text-align: center;">INTJ Learning Style</h4>
                           <p style="text-align: center;">
                            INTJs are easily receptive to difficult material when it is presented in conceptual form and new information follows logically from that given before. A moderate pace is best when delivering material, because INTJs spend time forming and retaining theoretical connections between different pieces of information.
                           </p>
                           <p style="text-align: center;">
                            INTJs connect the information they receive to a unifying theoretical basis. They can retain knowledge remembered in this way for decades. INTJs are also capable of mechanical memorization, although the amount thus retained is substantially lower than from memory based on a generalized understanding of the material.
                           </p>
                           <p style="text-align: center;">
                            INTJ’s are able to accurately reproduce received information, especially if it is mentally organized in a conceptual way. Mechanical reproduction is substantially less accurate, which is usually linked to this type’s relative weakness when it comes to remembering material with poor logical flow. 
                            </p>
                       </div>

                       <div class="info">
                        <h4 style="text-align: center;">INTJ Communication Skills</h4>
                        <p style="text-align: center;">
                            INTJs are comfortable carrying out a conversation. They are neither arrogant nor are they formal, but might refrain from becoming quick acquaintances. INTJs may find it difficult to express themselves about the finer feelings of the soul: the topics of love or lyric poetry can fail to elicit a strong emotional response in them.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}