{% extends 'base.html' %}
{% load static %}

{% block title %}Personality{% endblock %}

{% block content %}
<div class="info-img">
    <br>
    <img class="img-pt-logo" src="{% static 'img/personality-intp.png' %}" alt="">
    <h5 class="pt-h5" >Introverted iNtuitive Thinking Perceiving</h5>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 offset-md-0">
            <div class="card shadow">
                <div class="card-body">
                    <div class="about-us">
                        <div class="info-img">
                            <img class="img-intp" src="{% static 'img/INTP.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h3 style="text-align: center;">THE THINKER</h3>
                            <p style="text-align: center;">
                                INTPs are highly regarded for brilliant theories and unrelenting logic. This makes sense, as this personality type is arguably the most logical of all. INTPs love patterns, have a keen eye for picking up on discrepancies, and possess the ability to read people. This makes it inadvisable to lie to an INTP. People of this personality type lack interest in practical, day-to-day activities and maintenance. When an INTP finds an environment that provides the opportunity to stretch their creative muscles, there is no limit to the time and energy expended. A sensible and unbiased solution becomes likely. 
                                INTPs are relatively easy-going and amenable to almost anything until their principles are violated, about which they may become outspoken and inflexible. They prefer to return, however, to a reserved albeit benign ambiance, not wishing to make spectacles of themselves.
                            </p>
                       </div>
              
                       <div class="info">
                           <h4 style="text-align: center;">INTP Career</h4>
                           <p style="text-align: center;">
                            Generally, INTPs build successful careers in fields requiring quite intense intellectual effort and that call for a creative approach. INTPs are often found in research, development and analytical departments. INTPs often make very successful careers in academia thanks to their originality and their strong and versatile way of thinking.
                           </p>
                       </div>
           
                       <div class="info">
                            <h4 style="text-align: center;">INTP Learning Style</h4>
                           <p style="text-align: center;">
                            INTPs easily comprehend learning material when it is presented in a conceptual form and new information flows logically from that given before. They constantly look for a theoretical basis to which new information can be linked. Their understanding of new material is deep and analytical. INTPs are capable of independently studying expansive and complex material.
                        </p>
                            <p style="text-align: center;">
                                INTPs can accurately reproduce received information, especially if it is mentally organized in a conceptual form. They essentially reproduce information based on its theoretical foundation.
                        </p>
                       </div>

                       <div class="info">
                        <h4 style="text-align: center;">INTP Communication Skills</h4>
                        <P style="text-align: center;">
                            When communicating, INTPs come across as respectful, well thought out, and to the point, but at times may appear a bit remote. They may appear lacking warmness and cordiality. But, with people of equal intelligence they may enter into discussions or debates.
                        </p>
                        <P style="text-align: center;">
                            INTPs try to maintain an objective assessment, even when discussing topics relating to the finer feelings of the soul. 
                        </P>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}