{% extends 'base.html' %}
{% load static %}

{% block title %}Personality{% endblock %}

{% block content %}
<div class="info-img">
    <br>
    <img class="img-pt-logo" src="{% static 'img/personality-isfj.png' %}" alt="">
    <h5 class="pt-h5" >Introverted Sensing Feeling Judging</h5>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 offset-md-0">
            <div class="card shadow">
                <div class="card-body">
                    <div class="about-us">
                        <div class="info-img">
                            <img class="img-isfj" src="{% static 'img/ISFJ.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h3 style="text-align: center;">THE PROTECTOR</h3>
                            <p style="text-align: center;">
                                ISFJs are philanthropists. This personality type is always ready to give back, and any generosity received will be returned threefold. The people and things an ISFJ believes in will be upheld, and supported with enthusiasm and unselfishness. This makes this among the most warm and kind-hearted personality types. Harmony and cooperation are important to the ISFJ, and this type is likely to be sensitive to the feelings of others. The ISFJ is valued for their consideration and awareness, and often bring out the best in others.
                            </p>
                       </div>
              
                       <div class="info">
                           <h4 style="text-align: center;">ISFJ Career</h4>
                           <p style="text-align: center;">
                            ISFJs often find themselves in occupations that either involve a lot of interactions with other people and/or require meticulousness and diligence. They work in organizations of various sizes and in industries, where, as a rule, they work with people. Very often ISFJs realize their potential in health care (nurses, patient care and medical services, as well as administrative jobs) and various community care organizations.
                           </p>
                       </div>
           
                       <div class="info">
                            <h4 style="text-align: center;">ISFJ Learning Style</h4>
                           <p style="text-align: center;">
                            ISFJs easily take in material when a significant part is devoted to how it can be practically used for people and if it is presented using practical examples. Whether or not there is logical flow in the presentation of the material is of little importance to an ISFJ. They are capable of independently assimilating material, but mostly that of a concrete nature. They can easily take in a significant volume of information lacking substantial conceptual connections. They are able to accurately reproduce received information, especially if they associate it with any feeling. 
                        </p>
                       </div>

                       <div class="info">
                        <h4 style="text-align: center;">ISFJ Communication Skills</h4>
                        <P style="text-align: center;">
                            As a rule, in communication ISFJs are friendly and supportive, as well as practical and to the point. They are ready to come to the aid. At the same time, they might feel unhappy if their help is disregarded. They strive to build consensus among those involved in the conversation. During communication, it is important for ISFJs to sense that they are with a group of friends, co-workers, or like-minded individuals that share their interests and opinions. 
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}