{% extends 'base.html' %}
{% load static %}

{% block title %}Personality{% endblock %}

{% block content %}
<div class="info-img">
    <br>
    <img class="img-pt-logo" src="{% static 'img/personality-isfp.png' %}" alt="">
    <h5 class="pt-h5" >Introverted Sensing Feeling Perceiving</h5>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 offset-md-0">
            <div class="card shadow">
                <div class="card-body">
                    <div class="about-us">
                        <div class="info-img">
                            <img class="img-isfp" src="{% static 'img/ISFP.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h3 style="text-align: center;">THE ARTIST</h3>
                            <p style="text-align: center;">
                                ISFPs are introverts but may not always seem this way. Even if an ISFP has difficulties connecting to other people initially, they eventually grow warm, approachable, and friendly. ISFPs are fun to be around and very spontaneous. This makes them the perfect friend to tag along with an activity, planned or unplanned. ISFPs look to live life to the fullest and embrace the present. This ensures they are always keen to encounter a new experience or make a discovery. ISFPs find wisdom in understanding, so they find more value in meeting new people than other introverted personality types.
                            </p>
                       </div>
              
                       <div class="info">
                           <h4 style="text-align: center;">ISFP Career</h4>
                           <p style="text-align: center;">
                            ISFPs often find themselves in occupations that involve communication with customers or occupations that require a good sense of aesthetics such as: customer support roles, store sales associate roles (where aggressive selling is not required). Child care is a favorable area for ISFPs. Working with data and spreadsheets is also suitable. 
                           </p>
                       </div>
           
                       <div class="info">
                            <h4 style="text-align: center;">ISFP Learning Style</h4>
                           <p style="text-align: center;">
                            ISFPs easily take in practical material, especially if it is demonstrated using straightforward, real-life examples. Active learning methods help their learning of new information.
                            ISFPs easily and quickly retain new material when it actively engages their feelings and emotions. Information retained this way remains in their memory for a long time, and such memory is generally stronger and more accurate than memory that requires deep reflection and understanding. 
                        </p>

                       </div>

                       <div class="info">
                        <h4 style="text-align: center;">ISFP Communication Skills</h4>
                        <P style="text-align: center;">
                            During communication, their attention is directed toward all the different shades of emotions. ISFPs are ready to provide emotional support and help to their conversation party. They are especially good at creating a climate of good-natured communication among those participating in the conversation.
                        </p>
                            
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}