{% extends 'base.html' %}
{% load static %}

{% block title %}Personality{% endblock %}

{% block content %}
<div class="info-img">
    <br>
    <img class="img-pt-logo" src="{% static 'img/personality-istj.png' %}" alt="">
    <h5 class="pt-h5" >Introverted Sensing Thinking Judging</h5>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 offset-md-0">
            <div class="card shadow">
                <div class="card-body">
                    <div class="about-us">
                        <div class="info-img">
                            <img class="img-istj" src="{% static 'img/ISTJ.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h3 style="text-align: center;">THE INSPECTOR</h3>
                            <p style="text-align: center;">
                                The ISTJ can be considered an intimidating personality type to approach, especially without a prior relationship. ISTJs appear serious, formal, and proper. This personality type places great importance on tradition and old-school values. Patience, hard work, honor and social and cultural responsibility are all cherished by the ISTJ. They are reserved, calm, quiet, and upright. These traits result from the combination of Introversion, Sensing, Thinking, and Judging. The result is a personality type that is often misunderstood. 
                                ISTJs are often called inspectors. They have a keen sense of right and wrong, especially in their area of interest and/or responsibility. They are noted for devotion to duty. Punctuality is a watchword of the ISTJ.
                            </p>
                       </div>
              
                       <div class="info">
                           <h4 style="text-align: center;">ISTJ Career</h4>
                           <p style="text-align: center;">
                            Due to their natural strengths ISTJs often find themselves in occupations that involve controlling production processes effectively, orientation to details, clear-cut planning, occupations that require responsibility and being an efficient worker. They are found across a wide range of industries and verticals, in organizations of all sizes.
                           </p>
                       </div>
           
                       <div class="info">
                            <h4 style="text-align: center;">ISTJ Learning Style</h4>
                           <p style="text-align: center;">
                            Their interest in studying something is driven by the desire to gain experience in successfully implementing plans or carrying out hands-on activities.
                           <p style="text-align: center;">
                            ISTJs are capable of grasping material that has logical flow and material that consists of a set of practical information. They can take in large sets of conceptually unrelated information like facts or instructions. They are most receptive to new material when it is delivered using straightforward, real-life examples.
                       </div>

                       <div class="info">
                        <h4 style="text-align: center;">ISTJ Communication Skills</h4>
                        <p style="text-align: center;">
                            ISTJs come across in communication as open and natural, as well as precise and to-the-point, but they can also be somewhat formal. They are great sticklers for the rules and communication norms of their social milieu.
                        </p>
                        <P style="text-align: center;">
                            ISTJs occasionally find it hard to discuss the finer feelings of the soul: topics of love, and lyric poetry may not evoke a strong emotional reaction from them.
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}