{% extends 'base.html' %}
{% load static %}

{% block title %}Personality{% endblock %}

{% block content %}
<div class="info-img">
    <br>
    <img class="img-pt-logo" src="{% static 'img/personality-istp.png' %}" alt="">
    <h5 class="pt-h5" >Introverted Sensing Thinking Perceiving</h5>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12 offset-md-0">
            <div class="card shadow">
                <div class="card-body">
                    <div class="about-us">
                        <div class="info-img">
                            <img class="img-istp" src="{% static 'img/ISTP.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h3 style="text-align: center;">THE CRAFTSMAN</h3>
                            <p style="text-align: center;">
                                ISTPs are mysterious and oft-misunderstood people. This personality type is typically defined by rationality and logic but is also capable of spontaneity and enthusiasm. The personality traits of the ISTP are tougher to recognize than those of other types. Even people who know the ISTP well cannot always anticipate their reactions. Deep down, ISTPs are spontaneous, unpredictable individuals, but they sometimes hide those traits from the outside world, favoring an approach of logic and culpability. 
                                ISTPs are equally difficult to understand in their need for personal space, which in turn has an impact on their relationships with others. They need to be able to "spread out"--both physically and psychologically--which generally implies encroaching to some degree on others, especially if they decide that something of someone else's is going to become their next project. 
                            </p>
                       </div>
              
                       <div class="info">
                           <h4 style="text-align: center;">ISTP Career</h4>
                           <p style="text-align: center;">
                            Due to their natural strengths ISTPs often find themselves in occupations that involve direct participation in manufacturing, the production or maintenance process, in fields that require a good understanding of details. ISTPs succeed as technicians, mechanics, electricians, electrical, mechanical and other maintenance and repair specialists, trouble-shooters, handymen, drivers, programmers, athletes. 
                           </p>
                       </div>
           
                       <div class="info">
                            <h4 style="text-align: center;">ISTP Learning Style</h4>
                           <p style="text-align: center;">
                            ISTPs are capable of grasping sets of practical information, as well as information based on logical conclusions. They easily comprehend new material when it is delivered using straightforward, real-life examples. ISTPs understand the learning material concretely and immediately grasp how it can be applied.
                        </p>
                            <p style="text-align: center;">
                            ISTPs are also capable of working actively with material they have learned and understood well. They can precisely and skillfully apply it in concrete tasks.
                        </p>
                       </div>

                       <div class="info">
                        <h4 style="text-align: center;">ISTP Communication Skills</h4>
                        <P style="text-align: center;">
                            ISTPs are open and straightforward in their communication. They tend to observe the rules and communication norms of their social milieu. However, they may have difficulty establishing a good relationship with people that they consider to be overly demanding.
                        </p>
                        <P style="text-align: center;">
                            ISTPs often find it hard to express themselves when it comes to finer feelings. So, for instance, the discussion of love, lyric poetry or subtleties of emotional experiences may not evoke a strong reaction from them.
                        </P>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}